<h1><center> Manipulación de Bases de Datos </center></h1>

In [3]:
import pandas as pd
import numpy as np

In [2]:
# # Cree una lista con 5 objetos de tipo int
lista_int = [10,20,4,35,6]
# # Cree una lista con 5 objetos de tipo str (al menos uno debe contener un espacio)
lista_str = ['Economía','Administración de Empresas','Filosofía','Estadística','Contaduría Pública']
# # Cree una lista que contega 10 objetos mezclados entre int y str 
lista_mix = lista_int + lista_str
# # Cree una lista con 5 tuplas con objetos int y str de la forma [('A',4), ('X',5),...]
lista_tuplas = [('X',2),('C',4),('A',5),('R',6),('O',7)]

In [3]:
# sorted()

# Pandas

# pd.Series()

``Numéricos``

In [4]:
serie_int = pd.Series(lista_int, name='números')

In [5]:
# Mask bool
mask = serie_int > 10
serie_int[serie_int > 10]

1    20
3    35
Name: números, dtype: int64

In [6]:
serie_int.max()

35

In [7]:
serie_int.min()

4

In [8]:
serie_int.argmax() # me muestra el índice del valor maximo

3

In [9]:
serie_int.nsmallest(3)

2     4
4     6
0    10
Name: números, dtype: int64

In [10]:
serie_int.nlargest(3)

3    35
1    20
0    10
Name: números, dtype: int64

In [11]:
serie_int.mean()

15.0

In [12]:
serie_int.var()

163.0

In [13]:
serie_int.clip()

0    10
1    20
2     4
3    35
4     6
Name: números, dtype: int64

In [14]:
serie_int.kurtosis()

0.5838759456509468

In [15]:
pd.cut(serie_int, 5)

0    (3.969, 10.2]
1     (16.4, 22.6]
2    (3.969, 10.2]
3     (28.8, 35.0]
4    (3.969, 10.2]
Name: números, dtype: category
Categories (5, interval[float64]): [(3.969, 10.2] < (10.2, 16.4] < (16.4, 22.6] < (22.6, 28.8] < (28.8, 35.0]]

In [16]:
pd.qcut(serie_int,[0,0.25])

0             NaN
1             NaN
2    (3.999, 6.0]
3             NaN
4    (3.999, 6.0]
Name: números, dtype: category
Categories (1, interval[float64]): [(3.999, 6.0]]

In [26]:
serie_int.pct_change(3)

0    NaN
1    NaN
2    NaN
3    2.5
4   -0.7
Name: números, dtype: float64

In [29]:
pd.Series([1,2,3,4,5], dtype = 'int').pct_change(1)

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
dtype: float64

In [30]:
serie_int.agg(np.log)

0    2.302585
1    2.995732
2    1.386294
3    3.555348
4    1.791759
Name: números, dtype: float64

In [31]:
serie_int.agg(np.average)

0    10.0
1    20.0
2     4.0
3    35.0
4     6.0
Name: números, dtype: float64

***
___

``De Texto``

In [33]:
lista_str

['Economía',
 'Administración de Empresas',
 'Filosofía',
 'Estadística',
 'Contaduría Pública']

In [34]:
serie_str = pd.Series(lista_str, index=['a','b','c','d','e'], dtype = 'string')

In [35]:
serie_str

a                      Economía
b    Administración de Empresas
c                     Filosofía
d                   Estadística
e            Contaduría Pública
dtype: string

In [36]:
serie_str.str.lower()

a                      economía
b    administración de empresas
c                     filosofía
d                   estadística
e            contaduría pública
dtype: string

In [38]:
serie_str.str.upper()

a                      ECONOMÍA
b    ADMINISTRACIÓN DE EMPRESAS
c                     FILOSOFÍA
d                   ESTADÍSTICA
e            CONTADURÍA PÚBLICA
dtype: string

In [39]:
serie_str.str.capitalize()

a                      Economía
b    Administración de empresas
c                     Filosofía
d                   Estadística
e            Contaduría pública
dtype: string

In [40]:
serie_str.str.casefold()

a                      economía
b    administración de empresas
c                     filosofía
d                   estadística
e            contaduría pública
dtype: string

In [42]:
serie_str[serie_str.str.endswith('ca')]

d           Estadística
e    Contaduría Pública
dtype: string

In [43]:
serie_str.str.find('Economía')

a     0
b    -1
c    -1
d    -1
e    -1
dtype: Int64

In [54]:
serie_str[serie_str.str.match('Economía')]

a    Economía
dtype: string

In [51]:
serie_str.str.contains('Economía')

a     True
b    False
c    False
d    False
e    False
dtype: boolean

In [61]:
serie_str.str.split(' ').get(0)

['Economía']

In [60]:
serie_str.str.split(' ').str[0]

a          Economía
b    Administración
c         Filosofía
d       Estadística
e        Contaduría
dtype: object

In [66]:
serie_str.str.cat(sep = ',')

'Economía,Administración de Empresas,Filosofía,Estadística,Contaduría Pública'

In [68]:
pd.Series(['a1','b2','c3'], dtype='string')

0    a1
1    b2
2    c3
dtype: string

In [70]:
pd.Series(['a1','b2','c3'], dtype='string').str.extract(r'([abc])?(\d)', expand=False)

   0  1
0  a  1
1  b  2
2  c  3

In [ ]:
#$2400
#1.2M
#1'200.400

In [72]:
serie_str.str.replace('í','i')

a                      Economia
b    Administración de Empresas
c                     Filosofia
d                   Estadistica
e            Contaduria Pública
dtype: string

In [74]:
serie_str.str.rstrip('a')

a                       Economí
b    Administración de Empresas
c                      Filosofí
d                    Estadístic
e             Contaduría Públic
dtype: string

In [102]:
a = 2
a += 1

In [97]:
count_a = 0
count_á = 0
count_noa = 0
for i in serie_str:
    for j in i:
        if j == 'i':
            count_a += +1 
        elif j == 'í':
            count_á += 1
        else:
            count_noa += 1


print(count_a)
print(count_á)
print(count_noa)

6
4
62

In [87]:
lista = []
for i in serie_str:
    lista.append(i)
lista

['Economía',
 'Administración de Empresas',
 'Filosofía',
 'Estadística',
 'Contaduría Pública']

***
___

``Categóricos``

In [105]:
nota = pd.Series([5,4,3,2,1])

In [106]:
categorías = pd.Series(['Excelente','Bueno','Regular','Malo','Pésimo'])

from pandas.api.types import CategoricalDtype

cat_ord = pd.api.types.CategoricalDtype(categories=categorías[::-1].to_list(), ordered=True)

In [113]:
df = pd.concat([nota,categorías], axis = 1, keys=['Nota','Categorías'])

In [115]:
df['Categorías'] = pd.Series(df['Categorías']).astype(cat_ord)

In [121]:
df[df['Categorías'] != 'Regular']

   Nota Categorías
0     5  Excelente
1     4      Bueno
3     2       Malo
4     1     Pésimo

In [117]:
df

   Nota Categorías
0     5  Excelente
1     4      Bueno
2     3    Regular
3     2       Malo
4     1     Pésimo

In [60]:
#boolean mask
df[df['Categorías'] > 'Regular']

***
___

# ``Importar y visualizar una Base de Datos``

In [5]:
data = pd.read_csv('Casos_positivos_de_COVID19_en_Colombia.csv')

In [14]:
pd.Dataframe(data, index=list(range(607937)))

AttributeError: module 'pandas' has no attribute 'Dataframe'

AttributeError: 'DataFrame' object has no attribute 'view'

In [126]:
data.tail(3) #permite una vizualización de la base de datos

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico
607935,607976,2020-08-29T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,48,M,En estudio,Asintomático,...,Asintomático,NaN,2020-08-30T00:00:00.000,NaN,2020-08-30T00:00:00.000,NaN,11,NaN,NaN,NaN
607936,607977,2020-08-29T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,56,M,En estudio,Asintomático,...,Asintomático,NaN,2020-08-30T00:00:00.000,NaN,2020-08-30T00:00:00.000,NaN,11,NaN,NaN,NaN
607937,607978,2020-08-29T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,49,F,En estudio,Asintomático,...,Asintomático,NaN,2020-08-30T00:00:00.000,NaN,2020-08-30T00:00:00.000,NaN,11,NaN,NaN,NaN

In [127]:
data.tail(3)

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico
607935,607976,2020-08-29T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,48,M,En estudio,Asintomático,...,Asintomático,NaN,2020-08-30T00:00:00.000,NaN,2020-08-30T00:00:00.000,NaN,11,NaN,NaN,NaN
607936,607977,2020-08-29T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,56,M,En estudio,Asintomático,...,Asintomático,NaN,2020-08-30T00:00:00.000,NaN,2020-08-30T00:00:00.000,NaN,11,NaN,NaN,NaN
607937,607978,2020-08-29T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,49,F,En estudio,Asintomático,...,Asintomático,NaN,2020-08-30T00:00:00.000,NaN,2020-08-30T00:00:00.000,NaN,11,NaN,NaN,NaN

In [128]:
data.shape # Retorna una tupla con las dimensiónes del Data Frame (filas,columnas)

(607938, 21)

In [130]:
data.columns.to_list() # Retorna un objeto pandas.core.indexes.base.Index con las Columnas del DF

['ID de caso',
 'Fecha de notificación',
 'Código DIVIPOLA',
 'Ciudad de ubicación',
 'Departamento o Distrito ',
 'atención',
 'Edad',
 'Sexo',
 'Tipo',
 'Estado',
 'País de procedencia',
 'FIS',
 'Fecha de muerte',
 'Fecha diagnostico',
 'Fecha recuperado',
 'fecha reporte web',
 'Tipo recuperación',
 'Codigo departamento',
 'Codigo pais',
 'Pertenencia etnica',
 'Nombre grupo etnico']

In [131]:
data.dtypes

ID de caso                    int64
Fecha de notificación        object
Código DIVIPOLA               int64
Ciudad de ubicación          object
Departamento o Distrito      object
atención                     object
Edad                          int64
Sexo                         object
Tipo                         object
Estado                       object
País de procedencia          object
FIS                          object
Fecha de muerte              object
Fecha diagnostico            object
Fecha recuperado             object
fecha reporte web            object
Tipo recuperación            object
Codigo departamento           int64
Codigo pais                 float64
Pertenencia etnica           object
Nombre grupo etnico          object
dtype: object

In [132]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607938 entries, 0 to 607937
Data columns (total 21 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID de caso                607938 non-null  int64
 1   Fecha de notificación     607938 non-null  object
 2   Código DIVIPOLA           607938 non-null  int64
 3   Ciudad de ubicación       607938 non-null  object
 4   Departamento o Distrito   607938 non-null  object
 5   atención                  606687 non-null  object
 6   Edad                      607938 non-null  int64
 7   Sexo                      607938 non-null  object
 8   Tipo                      607938 non-null  object
 9   Estado                    606619 non-null  object
 10  País de procedencia       961 non-null     object
 11  FIS                       607938 non-null  object
 12  Fecha de muerte           20533 non-null   object
 13  Fecha diagnostico         604101 non-null  object
 14  Fecha recuperado          450626 non-null  object
 15  fecha reporte web         607938 non-null  object
 16  Tipo recuperación         450621 non-null  object
 17  Codigo departamento       607938 non-null  int64
 18  Codigo pais               962 non-null     float64
 19  Pertenencia etnica        281481 non-null  object
 20  Nombre grupo etnico       8139 non-null    object
dtypes: float64(1), int64(4), object(16)
memory usage: 97.4+ MB

In [133]:
data.columns

Index(['ID de caso', 'Fecha de notificación', 'Código DIVIPOLA',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia', 'FIS',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'fecha reporte web', 'Tipo recuperación', 'Codigo departamento',
       'Codigo pais', 'Pertenencia etnica', 'Nombre grupo etnico'],
      dtype='object')

In [135]:
data['Estado']

0                 Leve
1                 Leve
2                 Leve
3                 Leve
4                 Leve
              ...
607933    Asintomático
607934    Asintomático
607935    Asintomático
607936    Asintomático
607937    Asintomático
Name: Estado, Length: 607938, dtype: object

In [136]:
data[['Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado']]

,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado
0,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve
1,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve
2,Medellín,Antioquia,Recuperado,50,F,Importado,Leve
3,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve
4,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve
...,...,...,...,...,...,...,...
607933,Bogotá D.C.,Bogotá D.C.,Casa,50,M,En estudio,Asintomático
607934,Bogotá D.C.,Bogotá D.C.,Casa,53,F,En estudio,Asintomático
607935,Bogotá D.C.,Bogotá D.C.,Casa,48,M,En estudio,Asintomático
607936,Bogotá D.C.,Bogotá D.C.,Casa,56,M,En estudio,Asintomático
607937,Bogotá D.C.,Bogotá D.C.,Casa,49,F,En estudio,Asintomático

In [137]:
set(data['Estado'])

{'Asintomático', 'Fallecido', 'Grave', 'Leve', 'Moderado', nan}

In [ ]:
data.sort_values() #Para el último punto del quiz

# iloc[]

In [151]:
data.iloc[0:10][['Departamento o Distrito ']]

0            Bogotá D.C.
1        Valle del Cauca
2              Antioquia
3              Antioquia
4              Antioquia
5              Antioquia
6    Cartagena D.T. y C.
7            Bogotá D.C.
8            Bogotá D.C.
9            Bogotá D.C.
Name: Departamento o Distrito , dtype: object